language: python
python:
- 2.7
install:
- pip install tox-travis
- pip install coveralls
deploy:
  provider: pypi
  user: dbarroso
  password:
    secure: gK2otiNZdUlFK/5smZ5iftd6zXRBzvTqA4Xw9OulVJmhIwRyMv0g/OSjLj29HYVZNr2bord7DPWD6iAeMXeHqjuiCKYmy2z4u2bIqPbRJ4G488dZM+lTGK46Uz7XtjGN24wt3EHsG++bj+Gc3aKy2K5UoxdlGaxAosr2WrGJmupLFN/upmVgJEHQFYm14ByQ4joUjPZW3zWYKOJJvCK4WY9l/v6ejYZMHlTgCFkhoxn2AjtFyItGO3YxNr6RH075d8j64WF2vihB9CBFpqqQVuzk3dSljePDF1W0goex5NqVyQa+6yRy7FAHpQbAPm6BkEbMdPIdmpThXN48M9vbZ/Avn4DXU3AZrJUw59U8vPe3IR3WrJzIjAJ1CnCoUgPZqgf0eZHezKNjs2ww1S7fVhX7iY6ahpUucGXp5Hffyv2uD9p4hT/Oiz4p2B5ZHQcN2D3AtWGYm2gNVfEPyZqZiSIel5a0BpYqPOBHiC9oKNEhTNRYU6oUL/jzZy3MJnc779qF/e70NdA4xq+TMYk6aF4yLSB0YaEjQq6dxPn6wwoPTwdrPvu8A00MSvzAZ/2mNb2KIi/dh7C3dXoxrIKN5gKJzf+YFFAgQNqtVDBrZdYghywkzH0evE8WbGSf/hv1OQsKf8TUGT0EH63n8qCdqoYjJBTjycvBdSkMXAZC5rA=
  on:
    tags: true
    branch: master
script:
- tox
after_success:
- coveralls
- if [ $TRAVIS_TAG ]; then curl -X POST https://readthedocs.org/build/napalm; fi
