setuptools>=38.4.0
cffi>=1.11.3
future
textfsm
jinja2
netaddr
pyYAML
pyeapi>=0.8.2
netmiko>=2.3.0
pyIOSXR>=0.53
junos-eznc>=2.2.0
git+https://github.com/ktbyers/nxapi-plumbing@30f74d97110d7986deea56b1bebfdac8b6801040#egg=nxapi-plumbing
scp
