setuptools>=38.4.0
cffi>=1.11.3
paramiko>=2.6.0
requests>=2.7.0
textfsm
jinja2
netaddr
pyYAML
pyeapi>=1.0.2
netmiko>=4.4.0
junos-eznc>=2.7.4
lxml>=4.3.0
ncclient
ttp
ttp_templates
netutils>=1.0.0
typing-extensions>=4.3.0
