black==22.1.0
coveralls==3.3.1
ddt==1.4.4
flake8-import-order==0.18.1
pytest==5.4.3
pytest-cov==3.0.0
pytest-json==0.4.0
pytest-pythonpath==0.7.4
pylama==7.7.1
mock==4.0.3
tox==3.24.5
mypy==0.931
types-requests==2.27.9
types-six==1.16.10
types-setuptools==57.4.9
types-PyYAML==6.0.4
ttp==0.8.4
ttp_templates==0.1.3