setuptools>=38.4.0
cffi>=1.11.3
paramiko>=2.6.0
requests>=2.7.0
future
textfsm
jinja2
netaddr
pyYAML
pyeapi>=0.8.2
netmiko>=4.1.0
junos-eznc>=2.6.3
scp
lxml>=4.3.0
ncclient
ttp
ttp_templates
netutils>=1.0.0
typing-extensions>=4.3.0
