{%- for user_name, user_details in users.iteritems() %}
{%- if user_details %}
{%- if user_details.password %}
username {{user_name}} nopassword
{%- if user_details.level %}
no username {{user_name}} privilege {{user_details.level}}
{%- endif %}
{%- if user_details.sshkeys %}
{%- for sshkey in user_details.sshkeys %}
no username {{user_name}} sshkey {{ sshkey }}
{%- endfor %}
{%- endif %}
{%- else %}
no username {{user_name}}
{%- endif %}
{%- endfor %}
