ipsla
  {% set probe_id = 0 %}
  {% for probe_name, probe_test in probes.iteritems() %}
  {% for test_name, test_details in probe_test.iteritems() %}
  schedule operation {{probe_id + loop.index}}
    start-time now
    life forever
  !
  {% endfor %}
  {% set probe_id = probe_id + probe_test.keys()|length %}
  {% endfor %}
!
