ipsla
  {% for probe_name, probe_test in probes.iteritems() %}
  no schedule operation {{loop.index}}
  {% endfor %}
  {% for probe_name, probe_test in probes.iteritems() %}
  no operation {{loop.index}}
  {% endfor %}
!
