urllib3==2.2.1 # https://github.com/readthedocs/readthedocs.org/issues/10290
sphinx==5.3.0
sphinx-rtd-theme==1.2.2
invoke==2.2.0
# Newer MarkupSafe requires newer Jinja2, but
# newer Jinja2 breaks Sphinx
# exception: cannot import name 'contextfunction' from 'jinja2'
jinja2==2.11.3
MarkupSafe==2.0.1
pytest==7.2.2
# Newer Ansible requires Jinja2 >= 3.x
ansible==4.10.0
