urllib3==1.26.15 # https://github.com/readthedocs/readthedocs.org/issues/10290
sphinx==1.8.6
sphinx-rtd-theme==1.2.0
sphinxcontrib-napoleon==0.7
invoke==2.2.0
jinja2==2.11.3
MarkupSafe==2.0.1
pytest==7.2.2
ansible==4.10.0
